<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" th:with="active='worked-information'">
<head>
	<meta charset="utf-8">
	<title>AQI实测数据</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/css/page/page.css" media="all"/>
	<link rel="stylesheet" href="/css/style.css" media="all" />
	<!--[if IE]>
	<link rel="stylesheet" href="/css/ie.css" media="all"/><![endif]-->
	<link rel="stylesheet" href="/css/modal.min.css">
	<link rel="stylesheet" href="/css/btn.css">
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/bootstrap.min.js"></script>
</head>
<body>
<!--顶部导航条-->
<div th:replace="/admin/common/common-board::dashboard-top"></div>
<!--左侧导航条-->
<div th:replace="/admin/common/common-board::dashboard-left"></div>

<section class="content-top">
	<section class="widget">
		<header>
			<span class="icon">&#128196;</span>
			<hgroup>
				<h1>AQI实测数据</h1>
				<h2 th:text="'数量:'+${ideaDTOList.total}"></h2>
			</hgroup>
		</header>
		<div class="content">
			<table id="myTable" >
				<thead>
					<tr>
						<th>异常图片</th>
						<th>地区</th>
						<th>空气质量指数(AQI)</th>
						<th>AQI颜色</th>
						<th>备注</th>
						<th>公众监督员</th>
						<th>提交时间</th>
						<th>AQI检测网格员</th>
						<th>异常处理状态</th>
						<th>操作</th>
					</tr>
				</thead>
					<tbody>
						<tr th:each="idea:${ideaDTOList.list}">
							<!--<td><input type="checkbox" /> Home</td>-->
							<td><img th:src="@{${idea.idPhoto}}"  alt="" height="40" width="40"/></td>
							<td th:text="${idea.districtProvince.prName}+' '+${idea.districtCity.ciName}"></td>
							<td th:text="${idea.aqi.aqName}"></td>
							<td><div th:style="'width:80px;height:20px;background-color:'+${idea.aqi.aqColor}"></div></td>
							<td th:text="${idea.idRemark}"></td>
							<td th:text="${idea.identUser.useName}"></td>
							<td th:text="${#dates.format(idea.idDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${idea.idInspector}==0?'待分配':${idea.identInspector.insName}"></td>
							<!--<td th:text="${idea.identInspector.insName}" th:if="${idea.idInspector}!=0"></td>-->
							<!--不同css颜色显示解决文字-->
							<td th:text="${idea.idOut}==0 ?'待处理':'已处理'"></td>
							<td><!--th:onclick="location='/edge/logout'"-->
								<button th:class="green"  data-toggle="modal" th:data-target="'#myModalLookDetail'+${idea.idId}" >检测结果</button>
							</td>
							<div class="modal-addIns fade" th:id="'myModalLookDetail'+${idea.idId}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true">
												&times;
											</button>
											<h1 class="modal-title" id="myModalLookDetailLabel">
												空气质量AQI实测数据
											</h1>

										</div>
										<div class="modal-body ">
											<div class="text-center">
												<div ><p><img th:src="@{${idea.ideaWorkout.woPhoto}}" height="350" width="550"></div></p>
												<div class="text-left">
													<div class="text-center">
												<p  th:text="'地区: '+${idea.districtProvince.prName}+' '+${idea.districtCity.ciName}"></p>
												<p  th:text="'AQI等级: '+${idea.workedAqi.aqName}"></p>
												<p  th:text="'检测SO2值: '+${idea.ideaWorkout.woSo}+ ' ug/m3'"></p>
												<p  th:text="'检测CO2值: '+${idea.ideaWorkout.woCo}+ ' ug/m3'"></p>
												<p  th:text="'检测PM2.5值: '+${idea.ideaWorkout.woPm}+ ' ug/m3'"></p>
												<p  th:text="'检测员: '+${idea.identUser.useName}"></p>
												<p  th:text="'检测时间: '+${#dates.format(idea.ideaWorkout.woDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
													</div>
												</div>
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal -->

							</div>
						</tr>

					</tbody>
				</table>
		</div>
		<p>
		<div class="row">
			<div class="col-md-12">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:if="${ideaDTOList.hasPreviousPage}">
						<a class="page-link" th:href="@{'/admin/WorkedIdea/page/1'}">首页</a>
					</li>
					<li class="page-item disabled" th:if="${!ideaDTOList.hasPreviousPage}">
						<a class="page-link">首页</a>
					</li>
					<li class="page-item" th:if="${ideaDTOList.hasPreviousPage}">
						<a class="page-link" th:href="@{'/admin/WorkedIdea/page/'+${ideaDTOList.prePage}}">&laquo;</a>
					</li>
					<li class="page-item disabled" th:if="${!ideaDTOList.hasPreviousPage}">
						<a class="page-link">&laquo;</a>
					</li>
					<p th:each="num : ${ideaDTOList.navigatepageNums}">
					<li class="page-item " th:if="${ideaDTOList.pageNum == num}">
						<a class="page-link active" th:href="@{'/admin/WorkedIdea/page/'+${num}}" th:text="${num}"></a>
					</li>
					<li class="page-item " th:if="${ideaDTOList.pageNum != num}">
						<a class="page-link" th:href="@{'/admin/WorkedIdea/page/'+${num}}" th:text="${num}"></a>
					</li>
					</p>
					<li class="page-item" th:if="${ideaDTOList.hasNextPage}">
						<a class="page-link" th:href="@{'/admin/WorkedIdea/page/'+${ideaDTOList.nextPage}}">&raquo;</a>
					</li>
					<li class="page-item disabled" th:if="${!ideaDTOList.hasNextPage}">
						<a class="page-link">&raquo;</a>
					</li>
					<li class="page-item" th:if="${ideaDTOList.hasNextPage}">
						<a class="page-link" th:href="@{'/admin/WorkedIdea/page/'+${ideaDTOList.pages}}">末页</a>
					</li>
					<li class="page-item disabled" th:if="${!ideaDTOList.hasNextPage}">
						<a class="page-link">末页</a>
					</li>
				</ul>
			</div>
		</div>
		</p>
	</section>
	<div th:replace="/admin/common/common-board::dashboard-footer"></div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.wysiwyg.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/cycle.js"></script>
<script src="/js/jquery.checkbox.min.js"></script>
<script src="/js/flot.js"></script>
<script src="/js/flot.resize.js"></script>
<script src="/js/flot-graphs.js"></script>
<script src="/js/flot-time.js"></script>
<script src="/js/cycle.js"></script>
<script src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">



</script>
</body>
</html>